@mixin adapFont($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $widthContainer: $widthContainer - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$widthContainer}));
}
