//! Colors

$white: #fff;
$black: #000;
$txt: #161C24;
$bg: #F4F6F8;
$blue: #5B7DDE;
$lb: #BDCCF7;
$txt2: #454F5B;

//! Proportions

$widthContainer: 1228px;

//! BreakPoints

$bp1: 1184px;
$bp2: 1055px;
$bp3: 850px;
$bp4: 700px;
$bp5: 600px;
